<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".LiRoutiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiroutiFrontend">
        <!-- launcher가 아니므로 Android Studio에서 실행 구성으로 직접 지정해야 켜진다.
             exported=true는 adb/Android Studio에서 바로 실행해 테스트하기 위한 설정이다. -->
        <activity
            android:name="com.li_routi.feature.grouproutine.GroupRoutineActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LiroutiFrontend" />

        <activity
            android:name="com.li_routi.feature.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LiroutiFrontend" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LiroutiFrontend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오 로그인 리다이렉트 수신용. scheme은 build.gradle.kts의 manifestPlaceholders["kakaoAppId"]로 주입된다. -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter android:label="login">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${kakaoAppId}" />
            </intent-filter>
        </activity>
    </application>

</manifest>
